<div class="signup">
  <%- if params[:part_type] == "mentor" %>
  <h2>Interested in Being a STEM Mentor at Girls Do Hack?</h2>
  
  <h3>Science, Technology, Engineering and Mathematics, STEM</h3> 
  <p>We are looking for women who are at all stages of their STEM careers. 
    Perhaps you are a senior engineer in a large firm, maybe you're a part-time 
    Mom and part-time web developer, or you are just starting out as a first year 
    post-doc. Regardless, you have a passion for your STEM profession 
    that you would like to pass on to the next generation.</p>
  <p>Join us for the day and work as part of a team (2 mentors and 4 young women) 
    completing a selection of workshops and activities designed to highlight the 
    skills needed for STEM careers.</p>
  <h3>What now?</h3>
  <p>Sign up below if you are interested in participating and one of our event 
    co-ordinators will be in touch within a couple of days with more details. 
    In order to participate you will need to complete a background check and 
    attend a short orientation, either via google hangouts or at the Adler.</p>
  <%- else %>
  <h2>Interested in participating in Girls Do Hack?</h2>  
  <p>Are you currently in high school? Then sign up here if you are interesting in joining us for a day of hacking workshops and activities.</p>  
  <%- end %>
    
  <%= render "devise/registrations/form" %>

  <%= render "devise/shared/links" %>
</div>