<div class="signup">
  <%- if session[:sign_up_type] == "mentor" %>
  <h2>Interested in Being a STEM Mentor at Girls Do Hack?</h2>
  
  <h3>Science, Technology, Engineering and Math, STEM</h3> 
  <p>We are looking for women at all stages of their STEM careers. Perhaps you are a senior engineer in a large firm, maybe you're a part-time mom and part-time web developer, or you are just starting out as a first year post-doc. If you have a passion for your STEM profession that you would like to pass on to the next generation, please join us.</p>
  <p>Join us for the day, on the <strong>9th of November</strong>, and work as part of a team (2 mentors and 4 young women) completing a selection of workshops and activities designed to highlight skills needed for STEM careers, and encourage and inspire participants!</p>
  <h3>What now?</h3>
  <p>Sign up below if you are interested in participating and one of our event 
    co-ordinators will be in touch within a couple of days with more details. 
    In order to participate you will need to complete a background check and 
    attend a short orientation.</p>
  <h3>Orientation Options</h3>
  <ul class="orientation">  
    <li>Google Hangout: Saturday 2nd November at 11am</li>
    <li>Bar (Location TBD): Monday 28th November 6:30pm</li>
    <li>Google Hangout: Wednesday 6th November 7pm</li>
  </ul>  
    
    
    
  <%- else %>
  <h2>Interested in participating in Girls Do Hack?</h2>  
  <p>Are you a young woman currently enrolled in high school? Then sign up here if 
    you are interested in joining us for a day of hacking workshops and activities that 
    will build your confidence, test your skills, and be a lot of fun!</p>
  <p>No previous experience required, only enthusiasm for participating! In the case 
    that the event if over subscribed, participants from Chicago Public Schools will be 
    given preference and students will be randomly selected.</p> 
  <h3>Registration Closes: October 15th</h3> 
  <h3>We'll let you know if you have a place by: October 18th</h3> 
  <h3>The Main Event: November 9th!!</h3>  
  <%- end %>
    
  <%= render "devise/registrations/form" %>

  <%= render "devise/shared/links" %>
</div>