<div id="mentor_list">
  <div class="container">
    <% @mentors.each do |m| %>
      <%= link_to image_tag(m.avatar.url(:thumb)), :controller => "search", :action => "show", :id => m.id %>
    <% end %>
    <div id="mentor_link" class="user_link">
      <p>Meet all the mentors</p>
    </div> 
  </div>    
</div>