<div id="youth_list"> 
  <div class="container">
    <% @youth.each do |y| %>
      <%= link_to image_tag(y.avatar.url(:thumb)), :controller => "search", :action => "show", :id => y.id %>
    <% end %>
    <div id="youth_link" class="user_link">
      <p>Meet all the students</p>
    </div>
  </div>
</div>