<div class="container">
  <div id="header_text">      
    <h1>About Girls Do Hack</h1> 
    <p class="no_shadow">This event is designed to emphasize to young women that STEM careers are an option for their futures. On November 9th 2013, teams of girls will work with women in science, technology, engineering and math careers at the Adler Planetarium.</p>
  </div>
  <%= render 'stars'%>
  <div id="ontheday">
    <h1>On The Day</h1>
    <p>Working in teams of 4 young women and 2 mentors, participants will select from a variety of workshops and activities designed to highlight skills required in STEM careers. These workshops and activities will be developed by Adler Planetarium staff and partner organizations to reflect a cross-section of STEM careers, and may include developing mobile phone apps, prototyping and designing buildings, exoplanet detection, building robots and game design. </p>
  </div>  
  <div id="schedule">
    <h1>Schedule</h1>
    <p>The day's schedule is subject to minor changes. Please note that all participants will be provided with plenty of food and soft drinks to keep them going!</p>
    <table>
      <tr>
        <td class="time">8:45 am</td><td>Registration opens</td>
        <td class="time">2:30 pm</td><td>Break</td>
      </tr>
      <tr>
        <td class="time">9:30 am</td><td>Keynote</td>
        <td class="time">3:00 pm</td><td>Session 3</td>
      </tr>
      <tr>
        <td class="time">10:00 am</td><td>Session 1</td>
        <td class="time">5:00 pm</td><td>Planning for Share Out</td>
      </tr>
      <tr>
        <td class="time">12:00 pm</td><td>Lunch</td>
        <td class="time">5:30 pm</td><td>Share Out with the community</td>
      </tr>
      <tr>
        <td class="time">12:30 pm</td><td>Session 2</td>
        <td class="time">6:00 pm</td><td>Closing remarks</td>
      </tr>
    </table>  
  </div>
  <div id="map">
    <h1>Getting Here</h1>
    <p>Hosted by the <%= link_to "Adler Planetarium", "http://www.adlerplanetarium.org" %>, Girls Do Hack is easily accessible by car, public transport, bike or foot! For more details please visit the <%= link_to "'Getting There'", "http://www.adlerplanetarium.org/getting-here/" %> page on the <%= link_to "Adler Planetarium website.", "http://www.adlerplanetarium.org" %></p>
    <iframe width="1000" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Adler+Planetarium,+South+Lake+Shore+Drive,+Chicago,+IL&amp;aq=0&amp;oq=Adler&amp;sll=42.000325,-88.019028&amp;sspn=0.472514,0.725784&amp;ie=UTF8&amp;hq=Adler+Planetarium,+South+Lake+Shore+Drive,+Chicago,+IL&amp;t=m&amp;ll=41.875441,-87.634249&amp;spn=0.025564,0.085917&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Adler+Planetarium,+South+Lake+Shore+Drive,+Chicago,+IL&amp;aq=0&amp;oq=Adler&amp;sll=42.000325,-88.019028&amp;sspn=0.472514,0.725784&amp;ie=UTF8&amp;hq=Adler+Planetarium,+South+Lake+Shore+Drive,+Chicago,+IL&amp;t=m&amp;ll=41.875441,-87.634249&amp;spn=0.025564,0.085917&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div> 