<div id="background_image_bottom">
  <div class="container">
    <div id="header_text">      
      <p><b>Girls Do Hack</b> is designed to empower young women to consider STEM careers. On November 9, 2013, teams of girls will come to the Adler Planetarium to work with women in science, technology, engineering and math careers to gain confidence in skills required for these fields.</p>
    </div>  
  </div>
</div>
<div class="container">
  <%= render 'stars'%>
</div>
  <%= render 'youth'%>
  <%= render 'mentors'%>
