<div id="background_image_bottom">
  <div class="container">
    <div id="header_text">      
      <p><b>Girls Do Hack</b> is designed to emphasize to young women that STEM careers are an option for their futures. On November 9th 2013, teams of girls will work with women in science, technology, engineering and math careers at the Adler Planetarium.</p>
    </div>  
  </div>
</div>
<div class="container">
  <%= render 'stars'%>
</div>
  <%= render 'youth'%>
  <%= render 'mentors'%>
