<div class="container">
  <div id="header_text">      
    <h1>Meet the STEM Mentors</h1> 
    <p class="no_shadow">We have an impressive group of STEM professionals signed up to be mentors for Girls Do Hack. They represent a wide cross-section of science, technology, engineering, and math careers. We're really looking forward to our high school participants connecting with and be inspired by this amazing group of women. Click on the photos below to learn more.</p>
  </div>
  <div id="all_mentors">
  <% @mentors.each do |m| %>
    <%= link_to image_tag(m.avatar.url(:thumb)), :controller => "search", :action => "show", :id => m.id %>
  <% end %>
  </div>
</div>
<div class="container">
   <%= render 'stars'%>
</div>  