<div id="sponsorship" class="container">
  <h1>Support the Event</h1>
  <p>Sponsorship provides recognition and may include additional benefits.</p>
  <ul id="options">
     <li class="header">Sponsorship Options</li>
     <li>Presenting Sponsor: <%= link_to 'Teza Technologies', "http://www.teza.com" %></li>
     <li>Lead Sponsor: $15,000</li>
     <li>Team Sponsor (send or sponsor a team):</li>
     <li>Mentors Sponsor (send or sponsor mentors): $5,000</li>
     <li>Supporter: $2,000</li>
  </ul>
  
  <ul id="contact">
     <li class="header">Contact</li>
     <li>Debra Rosenberg</li>
     <li>Director of Corporate Relations</li>
     <li>phone: 312.322.0824</li>
     <li>email: drosenberg@adlerplanetarium.org</li>
  </ul>
</div>

<%= render 'youth' %>