  <header id="top-bar">
      <div class="container">
        <h1><a href="/">Adler Planetarium</a></h1>

        <div class="right">
          <ul class="hours">
          
          </ul>

         
        </div>
      </div>
    </header>